code {
    word-wrap: none;
    white-space: nowrap;
}

table.property-list td,
table.property-list th {
    padding: 5px;
}

table.property-list td:first-child {
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
    width: 200px;
}

.datepicker .dropdown-content {
    box-shadow: none !important;
}

.route-icon {
    white-space: nowrap;
    overflow: hidden;
    padding:0px;
    margin:0px;
    margin-bottom:10px;
    /* background:red; */
}

.route-icon .route-icon-short-name {
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    margin:0px;
    margin-right:4px;
    outline:solid 1px #ccc;
    outline-offset: -1px;
    border-radius: 5px;
    white-space: nowrap;
    /* background:#efefef; */
}

.route-icon .route-icon-long-name {
    display:inline-block;
    margin:0px;
    padding:0px;
    white-space: nowrap;
    /* background:blue; */
}

.route-icon .route-icon-icon {
    display:inline-block;
    width:26px;
    text-align:center;
    position:relative;
    top:3px;
    /* background:green; */
}

.route-icon .route-name-icon {
    display:inline-block;
    position:relative;
    top:3px;
    /* background:green; */
}


.entity-search {
    margin-bottom: 10px;
}

.table.is-borderless td,
th {
    border: 0
}

.is-6 {
    margin: 0px !important;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-like {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.button-like-small {
    font-size: 0.75rem;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.b-tabs .tab-content {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.tabs {
    margin-bottom:0px !important;
}

.map-panel {
    background-color: white;
    user-select: none;
    position: absolute !important;
    margin: 0px;
    padding: 10px;
    top: 10px;
    left: 10px;
    width: 565px;
}

.map-panel-tabs {
    background: none;
}

.map-panel-tabs div[role=tab] a {
    margin-right: 5px;
}

.map-panel-tabs div[role=tab] a {
    background-color: rgba(235, 235, 235, 0.9) !important;
}

.map-panel-tabs div[role=tab][aria-selected=true] a {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.map-panel-tabs .tab-content {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    max-height:80vh;
    overflow-y:auto;
}

.map-panel .dropdown-content{
    position: fixed;
    max-width:80%;
}