code {
    word-wrap: none;
    white-space: nowrap;
}

.tl-props td,
.tl-props th {
    padding: 5px;
    border: 0px;
}


.tl-props td:first-child {
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
    width: 160px;
    white-space: nowrap;
    word-wrap: nowrap;
}

.tl-tabs .tab-content {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tl-tabs nav.tabs {
    margin-bottom:0px !important;
}

.is-6 {
    margin: 0px !important;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab-item {
    width:100%;
}

.table-container {
    width:100%;
    overflow-x:auto;
}

nav .tag {
  margin-left:10px;
}

.is-pulled-right.button {
  margin-right:4px;
}
.is-pulled-right .button {
  margin-right:4px;
}


@media only screen and (max-width: 600px) {
  .tab-item {
    overflow-x:auto;
  }
  .breadcrumb ul {
    display:block;
  }
  .breadcrumb {
    white-space: inherit;
  }
}

