@media only screen and (max-width: 600px) {
  .tab-item {
    overflow-x:auto;
  }
  .breadcrumb ul {
    display:block;
  }
  .breadcrumb {
    white-space: inherit;
  }
}

/* Bulma fixes */

.collapse-trigger {
  width:100%;
}

/* Global styles */
.tabs-content {
  padding-left:0px !important;
  padding-right:0px !important;
  margin:0px;
}

.tooltip-trigger {
  border-bottom: dashed 1px #ccc;
}

table {
  width:100%;
}

.table-container {
    overflow-x:auto;
}

.is-pulled-right.button {
  margin-right:4px;
}

.is-pulled-right .button {
  margin-right:4px;
}


.tl-props {
    width:100%;
    margin-bottom:10px;
}

.tl-props td,
.tl-props th {
    padding: 5px;
    border: 0px;
}

.tl-props td:first-child {
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
    width: 160px;
    white-space: nowrap;
    word-wrap: nowrap;
}

:root {
  --headway-unknown: #666;
  --headway-high: #4dac26;
  --headway-mid: #b8e186;
  --headway-low: #f1b6da;
  --headway-very-low: #d01c8b;
  --headway-black: #000;

  --trip-missed: red;
  --trip-close: green;
  --trip-acceptable: yellowgreen;
  --trip-unacceptable: orange;
  --trip-not-considered: gray;
}

.abbr {
  padding-bottom: 1px;
  border-bottom: 1px dashed hsl(0, 0%, 71%);
}

/* Bulma fixes */

.collapse-trigger {
  width:100%;
}