@media only screen and (max-width: 600px) {
  .tab-item {
    overflow-x:auto;
  }
  .breadcrumb ul {
    display:block;
  }
  .breadcrumb {
    white-space: inherit;
  }
}

/* Bulma fixes */

.collapse-trigger {
  width:100%;
}

/* Global styles */
.tabs-content {
  padding-left:0px !important;
  padding-right:0px !important;
  margin:0px;
}

.tooltip-trigger {
  border-bottom: dashed 1px #ccc;
}

table {
  width:100%;
}

.table-container {
    overflow-x:auto;
}

.is-pulled-right.button {
  margin-right:4px;
}

.is-pulled-right .button {
  margin-right:4px;
}


.tl-props {
    width:100%;
    margin-bottom:10px;
}

.tl-props td,
.tl-props th {
    padding: 5px;
    border: 0px;
}

.tl-props td:first-child {
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
    width: 160px;
    white-space: nowrap;
    word-wrap: nowrap;
}