.admin-detail-table {
  border-collapse: collapse;
  width: 100%;
}

.admin-detail-table th {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
  padding: 0.75em 1em 0.75em 0;
  width: 1%;
  font-weight: 600;
}

.admin-detail-table td {
  vertical-align: top;
  padding: 0.75em 0;
}
